@model eDolce.Core.ViewModels.ProductListingViewModel
@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-3 mt-5">
        <div class="list-group">
            @Html.ActionLink("All Products", "Index", null, new { @class = Request["Category"] == null? "list-group-item list-group-item-action active" : "list-group-item list-group-item-action" })
            @foreach(var category in Model.ProductCategories)
            {
                @Html.ActionLink(category.Category, "Index", new { Category = category.Category}, new { @class = Request["Category"] == null? "list-group-item list-group-item-action active" : "list-group-item list-group-item-action" })
           }
        </div>
    </div>
    <div class="col-md-9">
    <div class="container mt-5">
        <div class="row">
            @foreach (var item in Model.Products)
                    {

                <div class="col-md-3">
                    <img class="figure-img" src="~/Content/ProductUploads/@item.Image" />
                    <h5 class="text-center">@Html.ActionLink(item.Name, "Details", new { id = item.Id})</h5>
                    <div class="text-info"><strong>R @item.Price</strong></div>
                    @*<p>@item.Description</p>*@
                    <div>
                        <a href="@Url.Action("addToCart","Cart", new { Id = item.Id})" class="btn btn-outline-primary"><i class="fa fa-cart-plus"></i></a>
                    </div>
                </div>

            }
        </div>

    </div>
        </div>
</div>

<style>
    img {
        width: 200px;
        height: 200px;
    }
</style>